#displayBody{
	font-size:1.6em;
	
	background-color:#dddd99;
	color:#000000;
	
}
#title{
	text-align:center;
}
#displayDiv{
	margin:20px;
	padding:20px;
	background-color:#ffffee;
}
#articleDiv{
	text-indent: 2em;
}
.navToMain{
	background-color:#cccc88;
	
}
span.time{
	font-size: 0.7em;
	color:#444444;
}