.main-tab-pane{
	background-color:#ffffee;
	color:#000000;
	padding:5%;
	text-indent: 2em;
	line-height:200%;
	border-style:none;
	
	
}
#mainbody{
	background-color:#dddd99;
	font-size:1.6em;
}
.tab-content{
	border-style:none;
	
}


.active #introTab,.active #essayTab, .active #novelTab, .active #contactTab{
	background-color:#ffffee;
}
.entry{
	
	
	background-color:#ffffee;
	
}

.entry .date{
	float: right;
	
}
.tabFrame{
	display:block;

	width:100%;
	background-color:#ffffee;
	margin-left:0px;

    scrolling:yes;	
}
.if-tab-pane{
	background-color:#ffffee;
	color:#000000;
	text-indent: 2em;
	line-height:200%;
	border-style:none;
}
.entries{
	padding-left:5%;
	padding-right:5%;
	background-color:#ffffee;
}
#essayEntriesBody{
	background-color:#ffffee;

}
